<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    
    <mirrors>
    </mirrors>
    <servers>
    </servers>
    <profiles>
        <profile>
			<id>repos-default</id>
			<repositories>
                <repository>
                    <id>maven-central</id>
                    <name>maven-central</name>
                    <url>https://mvnrepository.com/repos/central/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>sonatype-central-releases</id>
					<name>sonatype-central-releases</name>
					<url>https://s01.oss.sonatype.org/content/repositories/releases</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>clojars</id>
					<name>clojars</name>
					<url>https://repo.clojars.org</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
                    <id>maven-central</id>
                    <name>maven-central</name>
                    <url>https://mvnrepository.com/repos/central/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
                    <id>sonatype-central-releases</id>
                    <name>sonatype-central-releases</name>
                    <url>https://s01.oss.sonatype.org/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
    </profiles>
    <activeProfiles>
        <activeProfile>repos-default</activeProfile>
    </activeProfiles>
</settings>